*{
    margin: 0;
    padding: 0%
}
.valo-landing{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.valo-landing video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-attachment: fixed;
}
.landing-con{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    font-family: valorant;
    text-align: center;
    color: #fff;
}
@media(max-width: 100000px) {
    #landing-logo{
        font-family: 'Teko', sans-serif;
        font-size: 9rem !important;
    }
}

/* @media(max-width: 600px) {
    #navbar{
        

    }
}  white-space*/

.landing-con a{
    text-decoration: none;
    border-radius: 50px!important;
    background-color: #3c0a49de;
    color: white;
    padding: 20px 30px;
    border-radius: 2px;
}

.landing-con a:hover{
    background-color: #4d0d5ed3;
}

html {
    scroll-behavior: smooth;
  }


.logo{
    margin-left: 150px;
    font-size: 2rem;
    color: white!important;
    font-family: 'Beth Ellen', cursive;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
    
}

.navbar-nav{
    padding: 0 20px;
   
}

.navbar-nav li a{
    float: right;
    text-align: left;
    font-size: 1.2rem;
    color: #007bff;

}

#nav-bar ul li a:hover{
    color: #007bff!important;
}

.navbar{
    
    padding: 12px;   
    /* background color */
    

}

.navbar-toggler{
    border: none!important;
}

.nav-link{
    color: white!important;
    font-weight: 600;
    font-size: 16px;
}

.pad ul li{
    padding: 10px;
    padding-right: 35px;
    
}

.hidden-spacer {
    height: 56px
    
}

@media only screen and (max-width: 1273px) {
    .logo {
      margin-left: 20px;
    }
}
.hero-content{
    
    float: left;
    margin-top: 150px;
    color: white;
    
}  

.hero-content h1{
    text-align: center;
    font-size: 4rem;
    color: white;
}

.hero-content h3{
    text-align: center;
    font-size: 4rem;
    color: white;
}

.hero-content p{
    text-align: center;
    color: white;
    font-size: 25px;
}

.hero-content button{
    margin-left: 40%;
    border: 0px solid white;
    padding: 15px 50px;
    color: white;
    text-decoration: none;
    /* background-color: rgb(241, 60, 28); */
    border-radius: 5px;
}

.hero-content a:hover{
    background-color: rgba(241, 60, 28,0.85);
}




@media only screen and (max-width: 963.2px) {
    .hero-content h1, .hero-content h3{
        white-space: nowrap;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 963.2px) {
    .hero-content p{
        white-space: nowrap;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 700.2px) {
    .eng::before{
        color: violet;
        content: "\a";
        white-space: pre;
    }
}

/* @media only screen and (max-width: 905.6px) {
    .hero-content p{
        
        font-size: 1rem;
    }
}

@media only screen and (max-width: 905.6px) {
    .hero-content a{
        
        padding: 10px 40px;
        
    }
}

@media only screen and (max-width: 905.6px) {
    .hero-content a{
        
        padding: 10px 40px;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 736px) {
    .hero-content h3, .hero-content a{
        margin-left: 25%;
    }
}

@media only screen and (max-width: 736px) {
    .hero-content h1, .hero-content h3, .hero-content p{
       text-align: start;
    }
} */

/* @media only screen and (max-width: 830px) {
    .hero-content h1, .hero-content h2{
      font-size: 5rem;
    }
}
@media only screen and (max-width: 830px) {
    .hero-content h1, .hero-content h2{
      
      margin-left: -80px;
      
    }
}

@media only screen and (max-width: 516px) {
    .hero-content h1, .hero-content h2{
      font-size: 3.5rem;
      margin-top: 30px;
      margin-left: 1%;
    }
} */

.media i{
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

/* @media only screen and (max-width: 812px) {
    .media {
      margin-left: -80px;
      margin-left: 1%;
    }
} */


.nav-disp{
    background-color:#2b0634;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
}

.heading{
    color: white!important;
}

.y{
    color: white!important;
}

#navbarNav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;

    
}

#navbarNav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

#navbarNav ul li a{
    position: relative;
    font-size: 18px;
    color: white;
}

.shadow{
    box-shadow: 1 4px 8px 0 rgb(255, 252, 252), 0 6px 20px 0 rgb(255, 255, 255)
}

@media only screen and (max-width: 991px) {
    .pad{
      background-color: #2b0634; 
      
    }
}

@media only screen and (max-width: 991px) {
    .list{
      color: white!important;
      
    }
}



.back{
    
    background-color: black;
}

.text-col{
    color: black!important;
}

/* end of landing page */

.countdown{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;


}
.countdown div{
    color: white;
    padding: 25px;
    border: 2px solid tomato;
    font-size: 20px;
    text-align: center;
}

.countdown div p{
    color: white;

}

#register{
    padding-top: 100px;
}
.clg-name h2{
    
    font-size: 1.5rem;
    
    font-weight: lighter;
   
}

.pos{
    margin-left: 25%;
}

.context h3{
    font-size: 1rem;
}

/* @media(max-width: 768px) {
    #register{
        padding-top: -80px;

    }
} */

.counter div{
    padding: 30px 40px;
    margin-top: 20px;
    float: left;
    font-size: 2rem;
    color: tomato;
    border: 0.5px solid rgba(128, 128, 128, 0.329);
    border-radius: 5px;
    margin-right: 40px;
}

.timer h4{
    font-weight: lighter;
}
.para{
    text-align: start;
    
    clear: left;
    color: whitesmoke;
}
.gen-rules{color: whitesmoke;}
.rule{
    color: whitesmoke;
    font-weight: bold;
}

.register{
    margin-top: 10px;
    padding: 10px 30px;
    margin-bottom: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

/* End of intro */

#events{
    background-color: grey;
}

.eve-heading h1{
    text-align: center;
    margin-top: -17px;
    padding-top: 100px;
    font-size: 4rem;
    color: white;
}

#events {
    min-height: 90vh;
    background-size:cover;
    background-color: #2b0634;  
}

#register {
    background-color: #2b0634;
}
#grules{
    background-color: #2b0634;
}


.card-contents h4{
    color: white;
    margin-top: 10px;
    
}
.card-contents a{
    text-decoration: none;
}
img:hover{
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(189, 185, 185), 0 6px 20px 0 rgba(143, 142, 142, 0.822)
    
}

.row2{
    margin-top: 100px;
}
/* END OF EVENTS */

.gen-rules h1{
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    font-size: 4rem;
    color: black;
}
.content{
    margin-top: 100px;
}

.content ol li{
    padding: 10px;
}
.cat{
    margin-top: 100px;
    font-weight: bold;
    color: whitesmoke;
}

#footer{
    min-height: 66vh;
    margin-top: -17px;
    background-color: #2b0634;
    height: 300px;
    width: 100%;
    text-align: center;
    
}

@media only screen and (max-width: 963.2px) {
    #footer{
        min-height: 70vh;
    }
}

#footer h2{
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    margin-top: 20px;
    color: white;

}
.social{
    padding-top: 120px;
}

#footer span{
    color: #efefef;
    padding-left: 10px;
}

.social a{
    padding:20px ;
    font-size: 1.5rem;
    color: grey;
    
}

.social{
    margin-right: 80px;
    transform: translateY(-70px);
}

.social a:hover{
    color: white;
}

.eve-details{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-top: 70px;
    color: white;
    margin-left: 90px;
}


@media only screen and (max-width: 924px) {
    .chat, .location, .time {
        font-size: 0.7rem!important;
        
       
    }
} 



@media only screen and (max-width: 526px) {
    .eve-details{
        flex-flow: column;
        justify-content: space-evenly;
        margin-left: -15px;
        
        
       
    }
}

@media only screen and (max-width: 526px) {
    .chat, .location, .time {
        font-size: 0.6rem!important;
        
       
    }
} 

@media only screen and (max-width: 526px) {
    .chat i, .location i, .time i{
        font-size: 1.4rem!important;
        
       
    }
} 

@media only screen and (max-width: 526px) {
    .location, .time, .chat{
        padding: 10px;
        
        
       
    }
}

@media only screen and (max-width: 526px) {
    #footer{
        min-height: 100vh;
        
        
       
    }
}

@media only screen and (max-width: 526px) {
    .social a{
        
        font-size: 1rem;
    }
    
}

@media only screen and (max-width: 526px) {
    .social {
       margin-left: 40px;
       
        
        
    }
    
}



.location i{
    font-size: 2.5rem;
}

.location h4{
    font-size: 1rem;
    margin-top: 10px;
}

.time i{
    font-size: 2.5rem;
}

.time h4{
    font-size: 1rem;
    margin-top: 10px;
}

.chat i{
    font-size: 2.5rem;
}

.chat h4{
    font-size: 1rem;
    margin-top: 10px;
}

.intellect-font{
    margin-top: 100px;
    font-family: valorant;
}

@font-face {
    font-family: valorant;
    src: url(Valorant-Font.ttf) format("truetype");
}

.btn-pad :nth-child(1){
    padding-right: 20px;
}