<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">

    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

</head>

<body>
    <header>
        <div class="container">
            <div class="hero-content container">
                <h1 style = "font-family: 'Teko', sans-serif;"></b>About Us</h1>
                
                <!-- <h3><b>2K21</b></h3>
            <br>
            <p>Department Of Computer Science and Engineering</p>
            <br>
            <p>May 8-May 27, 2020 • Online Event</p>
            <br>
           
            <a href="#">Register</a> -->
            </div>
        </div>

    </header>
    <section style="color: #0e1021;" id="navbar">
        <nav style="color: #0e1021;" class="navbar navbar-expand-lg fixed-top navbar-light" id="nav">
            <a class="navbar-brand logo" id="heading" href="#">Intellect 2K21</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler"><i style="color: white;" class="fa fa-bars" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse pad" id="navbarNav" sty>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link list" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link list" href="/#events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link list" href="#" tabindex="-1">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link list " href="#footer" tabindex="-1">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div class="site-section pb-0" id="BGcard">
        <div class="container">



            <div class="row">
                <div class="col-md-6 col-lg-6 mb-4">
                    <div class="parallaxa">
                        <div class="site-section" style="color:aliceblue;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                                        <h2 class="mb-5 text-uppercase" style="color:white; margin-top: 100px;">The Department of Computer Science & Engineering</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="color: whitesmoke;" class="col-md-5 col-lg-5 ml-auto">
                    <p><strong><span><a href="https://crescent.education/university/schools/school-of-computer-information-and-mathematical-sciences/department-of-computer-science-and-engineering/overview/">The Department of Computer Science & Engineering</a></span></strong> has been in existence since 1990 (30 Years of Excellence), Given the high demand for Computer Science professionals from the industry, the department offers four undergraduate programs namely B.Tech. Computer Science and Engineering, B.Tech. Artificial Intelligence & Data Science, B.Tech. CSE (Cyber Security), and B.Tech. CSE (Internet of Things). The department also offers post-graduate degree programme. The department also offers Doctoral Degree Program in the field of Computer Science and Engineering. The undergraduate and postgraduate programs of Department of Computer Science & Engineering are approved by National Board of Accreditation, New Delhi.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="BGcard1">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6 mb-4 order-md-2">
                    <div class="parallaxa">
                        <div  class="site-section" style="color:aliceblue;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                                        <h2 class="mb-5 text-uppercase" style="color: white;margin-top: 100px;">why</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="color: whitesmoke;" class="col-md-5 col-lg-5 mr-auto order-md-1">
                    <p>Is quarantine getting to your head? Got a creative block? We have the perfect set of events for
                        you to exploit.Presenting a few activities to airbrush some fun into this awfully restless
                        lockdown. 11 events and plenty of fun and
                        memories to keep (Yup, you don’t have to share !). Take part in this event where you get to WFH!
                        You might just find something that matches your taste. </p>
                    <strong>
                        <p>Genral Rules:</p>
                    </strong>
                    <p></p>
                    <p>Have fun</p>
                    <p>Take with you a small awareness of COVID-19 </p>
                    <p>Spread joy!</p>
                </div>

            </div>
        </div>
    </div>
    <div class="parallaxa">
        <div class="site-section" style="color:aliceblue;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h1 style="font-family: 'M PLUS 1p', sans-serif; font-size :70px" class="mb-5 text-uppercase" style="color: white;">The Intellect Team</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section" style="color: white; margin-top: -155px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Dr-Venkatesan-Selvam.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Dr. Venkatesan Selvam</span>
                                    </a></h3>
                                    <p>Dean, SCIMS</p>
                            
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/DR.E.SYEDMOHAMED.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Dr. E.Syed Mohamed</span></a></h3>
                              <p>Professor & Head</p>
                            
                        </div>
                    </div>
                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/subbu_mam_final.jpeg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>S. Subhashini</span></a></h3>
                            <p>Assistant Professor</p>
                                    
                            
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img src="/static/static_pics/S.P.VALLI_.jpg"
                                    alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span> S.P. Valli</span></a></h3>
                                        <p>Assistant Professor (Sel. Gr)</p>

                        </div>
                    </div>
                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img 
                                    src="/static/static_pics/Vijayalakshmi.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>C. Vijayalakshmi</span> </a>
                            </h3>
                                
                            <p>Assistant Professor (Sr. Gr.)</p>
                        </div>
                    </div>
                    
                    
                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/RAMACHANDRAN.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Dr. A. Ramachandran</a></h3>
                                
                            <p>Assistant Professor</p>
                        </div>
                    </div>

                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/V.BALAJI.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>MR. V. Balaji</a></h3>
                            <p>Assistant Professor</p>
                        </div>
                    </div>

                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Manoj_kumar.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Manoj Kumar D S</span>
                            </a></h3>
                               
                            <p> Assistant Professor</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 ">

                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Rohith_coordinator.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. Rohith</a></h3>
                            <p>Event Coordinator (Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Visvesh_coordinator.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. Visvesh</span></a></h3>
                            <p>Event Coordinator (Student)</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 ">

                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img src="/static/static_pics/ballu.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. Balaji Thukaram</a></h3>
                            <p>Co-coordinator(Student)</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 ">

                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Aneesha Parveen S K.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Aneesha
                                        Parveen</span></a></h3>
                            <p>Co-coordinator(Student)</p>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/AFRID DOCUMENTS_2.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. Patan Afrid
                                        Khan</span></a></h3>
                            <p>Photography and origami event - Organiser (Student)</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Artella_sakthipriya A.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Sakthipriya</span></a>
                            </h3>
                            <p>Artella - Organiser(Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Rizwanaa_blog-writing.jpeg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms.Rizwanaa</a></h3>
                            <p>Artella - Organiser (Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Cookaholics_ Sarah Fathima.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Sarah fathima<span>
                                        </span></a></h3>
                            <p>cookaholics - Organiser (Student) </p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Cookaholics_Shaik Athiya Begum.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms.Shaik Athiya
                                        Begum<span></span></a></h3>
                            <p>cookaholics - Organiser (Student) </p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Cooks- Hussain Murtaza.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. Hussain Murtaza</span>
                                </a></h3>
                            <p>cookaholics - Organiser (Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/designer srirangarajan.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.
                                        Srirangarajan</span></a></h3>
                            <p>designing team head (Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src=" /static/static_pics/V.Visvanandar(event head)_.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.</span>V.Visvanandar</a></h3>
                            <p>Crossword Organizer(Student)</p>
                        </div>
                    </div>
                    

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" ><img 
                                    src="/static/static_pics/Meme-o-Mania_Annamalai.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.Annamalai</a></h3>
                            <p>Meme-o-Mania Organizer (Student) </p>
                        </div>
                    </div>

                    <div class="col-md-3 ">

                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Photorgami-Naseer Shaik.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. Shaik Nasser</span>
                                </a></h3>
                            <p> photorigami - Organiser(Student)</p>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/reels_isha sabreen.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Isha
                                        sabreen<span></span></a></h3>
                            <p>Reels - Organiser (Student) </p>
                        </div>
                    </div>

                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Navya Swain R- Artella .jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Navya</span> Swain</a>
                            </h3>
                            <p> Artella - Organiser (Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Peduru Likhitha - pen down.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Peduru Likhitha</span></a>
                            </h3>
                            <p>Pen down - Organiser (Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">

                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Voice your Views - Afra.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Afra</span></a></h3>
                            <p> Voice your Views- Organiser(Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Voice your views _ Reach out - Asmath Haseena.jpg"
                                    alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Asmath
                                        Haseena</span></a></h3>
                            <p>Voice your views- Organiser(Student)</p>
                        </div>
                    </div>
                    
                    

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/photorigami P J Hemanadhan.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. P J
                                        Hemanadhan</span></a></h3>
                            <p>photorigami - Organiser(Student)</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/memes-o-mania_mohammed atif.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>MR. Mohamed atif</a></h3>
                            <p>Meme-o-Mania Organizer(Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Reels_Kaaviya Shree.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Kaaviya<span>Shree
                                        </span></a></h3>
                            <p>Reels - Organiser (Student) </p>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/reels_mugil suga.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms.</span> mugil suga</a>
                            </h3>
                            <p>Reels - Organiser (Student)</p>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Reels_roulette_PoojaV.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms.PoojaV</a></h3>
                            <p>Reels - Organiser (Student) </p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Reach Out - Durrah.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Durrah<span></span></a>
                            </h3>
                            <p>Reach out - Organiser (Student) </p>
                        </div>
                    </div>
                    
                   
                    
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Saliha Sameera_Blog-writing-coordinator.PNG" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Saliha Sameera</span>
                                </a></h3>
                            <p>Blog essay - Organiser (Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Artella+cookvaddi Harshitha.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Ms. Vaddi harshita<span>
                                        </span></a></h3>
                            <p>Artella & cookaholics - Organiser (Student) </p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Memes-o-mania- Aravind.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. Aravind</span></a></h3>
                            <p>Meme-o-Mania Organizer(Student)</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 ">

                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Mohammed Rizwan.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. Mohamed Rizwan</a></h3>
                            <p>Cookaholics- Organiser (Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/M.Achutha Krishna-Esports_.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.</span> Achutha
                                    Krishna</a></h3>
                            <p>Esports Organizer(Student)</p>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src=" /static/static_pics/Muhammad Arshad.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.</span> Muhammad Arshad</a></h3>
                            <p>Crossword Organizer(Student)</p>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src=" /static/static_pics/S.Pragatheesh.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.</span> S.Pragatheesh</a></h3>
                            <p>Crossword Organizer(Student)</p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src=" /static/static_pics/S.sharukh khan.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.</span> S.sharukh khan</a></h3>
                            <p>Crossword Organizer(Student)</p>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src=" /static/static_pics/Sanjai.jpeg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.</span>Sanjai</a></h3>
                            <p>Crossword Organizer(Student)</p>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src=" /static/static_pics/Capture.PNG" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.</span> Saravanan
                                    Kumar</a></h3>
                            <p>Crossword Organizer(Student)</p>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src=" /static/static_pics/syed sharukh.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.</span> syed sharukh</a></h3>
                            <p>Crossword Organizer(Student)</p>
                        </div>
                    </div>

                  
                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/video editor chandramouli.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr.</span> Chandramouli</a>
                            </h3>
                            <p> Designer - Video editor & Esports Organizer</p>
                        </div>
                    </div>


                    <div class="col-md-3 ">
                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img
                                    src="/static/static_pics/Addwin Fernando.jpg" alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Addwin Fernando</span></a>
                            </h3>
                            <p> Website Designer and Developer & Esports Organizer</p>
                        </div>
                    </div>
                    
                   
                    <div class="col-md-3 ">

                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img  src="/static/static_pics/me.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="https://github.com/Talha-Altair?tab=repositories" style="color: white;"><span>Talha Abdur
                                        Rahman</span></a></h3>
                            <p> Esports Tournament Organizer </p><p>Website Designer and Developer</p>
                        </div>
                    </div>

                    <div class="col-md-3 ">

                        <div class="speaker text-left">
                            <a href="#" class="d-block mb-3 thumbnail"><img src="/static/static_pics/nataraj2.jpeg"
                                    alt="Image" class="img-fluid"></a>
                            <h3 class="heading mb-0"><a href="#" style="color: white;"><span>Mr. Shanmuga
                                        Natraj M</span></a></h3>
                            <p> Website Designer and Developer </p>
                        </div>
                    </div>
                    
                    
                </div>

            </div>
        </div>
    </div>



    <footer id="footer">
        <div class="container footer">
          <div class="eve-details">
            <div class="location">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h4>WHERE</h4>
              <p>At your place</p>
            </div>
            <div class="time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4>WHEN</h4>
              <p>May 24-June 30, 2021</p>
            </div>
            <div class="chat">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <h4>CHAT WITH US</h4>
              <p>Email: intellect2k21@gmail.com</p>
              <p>Contact: +91 9047593612, +91 9080429925</p>
            </div>
  
          </div>
          
          
          <div class="social">
            
            <a href="https://www.instagram.com/intellect2k21/" target="_blank"><i class="fa fa-instagram insta"></i></a>
            <a href="https://www.youtube.com/channel/UCEKZBHWEwRQ2-7AoAVQ8cag" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.facebook.com/Crescent-Intellect-2k21-100576085551846" target="_blank"><i class="fa fa-facebook fb"></i></a>
            <a href="https://crescent.education/university/schools/school-of-computer-information-and-mathematical-sciences/department-of-computer-science-and-engineering/overview/"
          target="_blank">
          <img style="max-height: 30px;"
            src="/static/220px-B.S._Abdur_Rahman_Crescent_Institute_of_Science_and_Technology_logo.png"> </a>
            
            
          </div>
        </div>
    </footer>

    <script src="/static/js/app.js"></script>
    <style>.parallaxa{
        min-height: 50vh;
        background-size:cover;
        background: linear-gradient(rgba(173, 169, 169, 0), rgba(0, 0, 0, 0.986)),
        url(/static/pics/hero_1a.jpg) center/cover no-repeat!important;

    }
    header {
        min-height: 100vh;
    
        background-size:cover;
        background: linear-gradient(rgba(173, 169, 169, 0), rgb(0, 0, 0)),
        url(/static/pics/hero_1a.jpg) center/cover no-repeat!important;
        
    }
    #BGcard{
        background-color:#0e1021;
    }
    #BGcard1{
        background-color: #0e1021;
    }
    .nav-disp{
        background-color: #0e1021;  
        top: 0;
        left: 0;
        width: 100%;
        transition: 0.3s;
    }
    
#footer{
    min-height: 66vh;
    margin-top: -17px;
    background-color: #0e1021;
    height: 300px;
    width: 100%;
    text-align: center;
    
}

@media only screen and (max-width: 963.2px) {
    #footer{
        min-height: 70vh;
    }
}

#footer h2{
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    margin-top: 20px;
    color: white;

}
.social{
    padding-top: 120px;
}

#footer span{
    color: #efefef;
    padding-left: 10px;
}

.social a{
    padding:20px ;
    font-size: 1.5rem;
    color: grey;
    
}

.social{
    margin-right: 80px;
    transform: translateY(-70px);
}

.social a:hover{
    color: white;
}

.eve-details{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-top: 70px;
    color: white;
    margin-left: 90px;
}


@media only screen and (max-width: 924px) {
    .chat, .location, .time {
        font-size: 0.7rem!important;
        
       
    }
} 



@media only screen and (max-width: 526px) {
    .eve-details{
        flex-flow: column;
        justify-content: space-evenly;
        margin-left: -15px;
        
        
       
    }
}

@media only screen and (max-width: 526px) {
    .chat, .location, .time {
        font-size: 0.6rem!important;
        
       
    }
} 

@media only screen and (max-width: 526px) {
    .chat i, .location i, .time i{
        font-size: 1.4rem!important;
        
       
    }
} 

@media only screen and (max-width: 526px) {
    .location, .time, .chat{
        padding: 10px;
        
        
       
    }
}

@media only screen and (max-width: 526px) {
    #footer{
        min-height: 100vh;
        
        
       
    }
}

@media only screen and (max-width: 526px) {
    .social a{
        
        font-size: 1rem;
    }
    
}

@media only screen and (max-width: 526px) {
    .social {
       margin-left: 40px;
       
        
        
    }
    
}



.location i{
    font-size: 2.5rem;
}

.location h4{
    font-size: 1rem;
    margin-top: 10px;
}

.time i{
    font-size: 2.5rem;
}

.time h4{
    font-size: 1rem;
    margin-top: 10px;
}

.chat i{
    font-size: 2.5rem;
}

.chat h4{
    font-size: 1rem;
    margin-top: 10px;
}

.intellect-font{
    margin-top: 100px;
    font-family: valorant;
}

@font-face {
    font-family: valorant;
    src: url(Valorant-Font.ttf) format("truetype");
}

.btn-pad :nth-child(1){
    padding-right: 20px;
}
    </style>
</body>

</html>