<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js">
    
    <title>Photopedia / Origami</title>
    <link rel="stylesheet" href="/static/events/photo/photo.css">

</head>
<body>
    <header>
        <div class="container">
          <div class="hero-content container">
            <h1></b>Photopedia / <span class="eng">Origami</span></h1>
            <!-- <h3><b>2K21</b></h3>
            <br>
            <p>Department Of Computer Science and Engineering</p>
            <br>
            <p>May 8-May 27, 2020 • Online Event</p>
            <br>
           
            <a href="#">Register</a> -->
          </div>
        </div>
          
      </header>
      <section id="navbar">
            <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="nav">
            <a class="navbar-brand logo" id="heading" href="#">Intellect 2K21</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler"><i style="color: white;" class="fa fa-bars" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse pad" id="navbarNav" sty>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link list" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link list" href="/#events">Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link list" href="/about" tabindex="-1">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link list " href="#footer" tabindex="-1">Contact Us</a>
                </li>
              </ul>
            </div>
          </nav>
      </section>

      <section id="content">
        <div class="site-section">
            <div class="container">
      
              <div class="row">
                <div class="col-md-6 col-lg-6 mb-4">
                  <img src="/static/eventBackground/photo/background.png" style="height: 300px;" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 col-lg-5 ml-auto">
                  <h2 style="font-size: 3.2rem;" class="font-weight-bold text-uppercase display-3 valo-font">Photopedia / Origami</h2>
                  
      
              </div>
            </div>
          </div>
        </div>

        <div class="site-section bg-light">
            <div class="container">
              <div class="row">
             
                <div class="col-md-12 col-lg-8 mb-5">
                
                  
                
                  <form action="#" class="p-5 bg-white">
      
                    <div class="row form-group">
                      <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="fullname">General rules:</label>
                        <div>
                            <ul class="items">
                                <p> 1. Register at the website and then send the entries.</p>
                                <p> 2. Entries without registration will not be considered.</p> 
                                <p> 3. Send your entries to: <a href="#">photorgami2k21@gmail.com</a>.</p> 
                                <p> 4. While sending the entries make sure you give your correct.</p> 
                                <li style="margin-left: 120px;" >Event Name</li>
                                <li style="margin-left: 120px;">student name</li>
                                <li style="margin-left: 120px;">phone number</li>
                                <li style="margin-left: 120px;" >topic</li>
                                <li style="margin-left: 120px;">Institute name </li>
                                <li style="margin-left: 120px;" >location </li>
                                <p> 5. Winner’s photographs and crafts will be posted in our instagram page.</p>
                                <p> 6. The event is for both school and college category.</p>
                                <p> 7. You can either participate in photography or origami but not in both.</p>
                              </ul>
                              <br>
                              
                              
                        </div>
                      </div>
                    </div>
                    
      
      
                    <div class="row form-group">
                      <div class="col-md-12 mb-3 mb-md-0">
                        <p class="font-weight-bold">1. Photopedia:</p>
                        <label class="font-weight-bold" for="phone">Event Description:</label>
                        <div>
                            <ul class="items">
                              <div>
                                <p>Show your skills, by capturing moments from today by creating memories for a lifetime.</p>
                                
                              </div>
                              
                              
                              
                            </ul>
                            
                            
                        </div>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="phone">Rules:</label>
                        <div>
                            <ol class="items">
                              <div>
                                <li style="margin-left: 55px;">Only one entry is allowed per photographer.  </li>
                                <li style="margin-left: 55px;">The photograph must be original and NO WATERMARK of any kind should be on the photograph.</li>
                                <li style="margin-left: 55px;">Photographs taken from the Web/Internet leads to direct disqualification.</li>
                                <li style="margin-left: 55px;">Only basic enhancements such as sharpening, contrast adjustment, or simple cropping will be allowed.</li>
                                <li style="margin-left: 55px;">Adult content of any kind would lead to direct disqualification.</li>
                                
                                
                              </div>
                              
                              
                              
                            </ol>
                            
                            
                        </div>
                      </div>
                    </div>

                    
                    <br>

                    <div class="row form-group">
                      <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="fullname">Topics(For both Categories):</label>
                        
                        <div>
                            <ol class="items">
                               <li style="margin-left: 55px;">Still life photography.</li>
                               <li style="margin-left: 55px;">Creative photography.</li>
                               <li style="margin-left: 55px;">Flatly photography.</li>
                               <li style="margin-left: 55px;">Monochrome Photography.</li>
                               <li style="margin-left: 55px;">low light photography.</li>
                               <li style="margin-left: 55px;">Product photography.</li>
                               
                            </ol>
                              
                              
                              
                        </div>
                      </div>
                    </div>
                    <br>

                    

                    <div class="row form-group">
                      <div class="col-md-12 mb-3 mb-md-0">
                        <p class="font-weight-bold">2. Origami:</p>
                        <label class="font-weight-bold" for="phone">Event Description:</label>
                        <div>
                            <ul class="items">
                              <div>
                                <p>Let your Skill & Creativity speak out using your crafts.</p>
                                
                              </div>
                              
                              
                              
                            </ul>
                            
                            
                        </div>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="phone">Rules:</label>
                        <div>
                            <ol class="items">
                              <div>
                                <li style="margin-left: 55px;">Any type of paper can be used, both 2D and 3D allowed in every category.</li>
                                <li style="margin-left: 55px;">Only one entry is allowed per participant.</li>
                                <li style="margin-left: 55px;">For every model a NAME TAG of the participant is mandatory.</li>
                                <li style="margin-left: 55px;">Sketches and highlighters can be used for your model.</li>
                                <li style="margin-left: 55px;">Any model (Picture) taken from the internet without the participants name tag will be disqualified.</li>
                                
                                
                              </div>
                              
                              
                              
                            </ol>
                            
                            
                        </div>
                      </div>
                    </div>

                    
                    <br>

                    <div class="row form-group">
                      <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="fullname">Topics(For both Categories):</label>
                        
                        <div>
                            <ol class="items">
                               <li style="margin-left: 55px;">Any 2D and 3D model is allowed.</li>
                               <li style="margin-left: 55px;">Birds, animals, reptiles, aquatic animal models.</li>
                               <li style="margin-left: 55px;">DIY Flower baskets, Monumental models, Wall Hangers etc., and all other DIY models of 2d and 3d are allowed.</li>
                               
                            </ol>
                              
                              
                              
                        </div>
                      </div>
                    </div>

                   
                    
      
        
                  </form>
                </div>
      
                <div class="col-lg-4">
                  <div class="p-4 mb-3 bg-white">
                    <h3 class="h5 text-black mb-3">Contact Info</h3>
                    
                    <a href="https://discord.gg/ArePGSNwS7" target="_blank"><img style="width: 40px;" src="discord.png" alt=""></a><br>
                    
                  
                    <p class="mb-0 font-weight-bold">Phone</p>
                    <p class="mb-4">Naseer : <a href="#" style="text-decoration: none; color: red;">+91 9346228841</a></p>
                    
      
                    <p class="mb-0 font-weight-bold">Email Address</p>
                    <p class="mb-0"><a href="#" style="text-decoration: none; color: red;">photorgami2k21@gmail.com</a></p>
                    
      
                  </div>
                  
                
                
                    
                  </div>
                </div>
              </div>
            </div>
          </div>


      </section>

      <footer id="footer">
        <div class="container footer">
          <div class="eve-details">
            <div class="location">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h4>WHERE</h4>
              <p>At your place</p>
            </div>
            <div class="time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4>WHEN</h4>
              <p>May 24-June 30, 2021</p>
            </div>
            <div class="chat">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <h4>CHAT WITH US</h4>
              <p>Email: intellect2k21@gmail.com</p>
              <p>Contact: +91 9047593612, +91 9080429925</p>
            </div>
  
          </div>
          
          
          <div class="social">
            <a href="https://www.instagram.com/intellect2k21/" target="_blank"><i class="fa fa-instagram insta"></i></a>
            <a href="https://www.youtube.com/channel/UCEKZBHWEwRQ2-7AoAVQ8cag" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.facebook.com/Crescent-Intellect-2k21-100576085551846" target="_blank"><i class="fa fa-facebook fb"></i></a>
            <a href="https://crescent.education/university/schools/school-of-computer-information-and-mathematical-sciences/department-of-computer-science-and-engineering/overview/"
          target="_blank">
          <img style="max-height: 30px;"
            src="/static/220px-B.S._Abdur_Rahman_Crescent_Institute_of_Science_and_Technology_logo.png"> </a>
          </div>
        </div>
    </footer>

      <script src="/static/js/app.js"></script>
</body>      
</html>