<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <title>Valorant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='events/valo/valo.css') }}">

</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="nav">
    <a class="navbar-brand logo" id="heading" href="#">Intellect 2K21</a>
    <button class="navbar-toggler"   type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler"><i style="color: white;" class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
    <div class="collapse navbar-collapse pad" id="navbarNav" sty>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link list" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link list" href="/#events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link list" href="/about" tabindex="-1">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link list " href="#footer" tabindex="-1">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

    <!-- <header>
      
        <div class="container">
          <div class="hero-content container">
            <h1></b>Valorant</h1> -->
            <!-- <h3><b>2K21</b></h3>
            <br>
            <p>Department Of Computer Science and Engineering</p>
            <br>
            <p>May 8-May 27, 2020 • Online Event</p>
            <br>
           
            <a href="#">Register</a> -->
          <!-- </div>
        </div>
        <video id="videoBG" poster="poster.JPG" autoplay muted loop>
          <source src="valobg.mp4" type="video/mp4">
        </video>
      </header> -->
      <div class="valo-landing">
        <video  poster="poster.JPG" autoplay muted loop>
          <source src="/static/events/valo/valobg1.mp4" type="video/mp4">
        </video>
        <div class="landing-con">
          <h2 style="font-size: 8em;" id="landing-logo">Valorant</h2>
        </div>
      </div>
      
      <section id="content">
        <div class="site-section">
            <div class="container">
      
              <div class="row">
                <div class="col-md-6 col-lg-6 mb-4">
                  <img src="/static/events/valo/valo2.png" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 col-lg-5 ml-auto">
                  <h2 class="font-weight-bold text-uppercase display-3 valo-font">VALORANT</h2>
                  
      
              </div>
            </div>
          </div>
        </div>

        <div class="site-section bg-light" id="BG">
            <div class="container">
              <div class="row">
             
                <div class="col-md-12 col-lg-8 mb-5"id="BG" >
                
                  
                
                  <form action="#" class="p-5 bg-white">
      
                    <div class="row form-group" >
                      <div class="col-md-12 mb-3 mb-md-0"id="BG">
                        <label class="font-weight-bold" for="fullname">Registration:</label>
                        <div>
                            <ul class="items">
                                <p> 1. Register at the website and then send the entries. </p>
                                <p> 2. Only registered team are allowed to participate.</p>
                                <p> 3. Maximum 5 members per team .</p>
                                <p> 4. Gaming details will be forwarded in due time.</p> 
                              </ul>
                              <br>
                              <strong></strong><p><strong>Category 1</strong>  : College students and School students</p>
                              
                        </div>
                      </div>
                    </div>
                    
      
      
                    <div class="row form-group"id="BG">
                      <div class="col-md-12 mb-3 mb-md-0"id="BG">
                        <label class="font-weight-bold" for="phone">Match Instructions:</label>
                        <div>
                            <ul class="items">
                              <div>
                                <p><b>1. Anti-Cheat:</b></p>
                                <p style="margin-left: 70px;">No additional anti-cheat is required for official matches. </p>
                              </div>
                              <br>
                              <div>
                                <p><b>2. Match Procedure:</b></p>
                                <p style="margin-left: 60px;">Supported platforms:</p>
                                <li style="margin-left: 120px;">PC</li>
                                <li style="margin-left: 120px;">Join our Discord server <a href="https://discord.gg/ArePGSNwS7" target="_blank">https://discord.gg/ArePGSNwS7</a>.</li>
                              </div>
                              <br>
                              <div>
                                <p><b>2.1. Series Lengths:</b></p>
                                <p style="margin-left: 70px;">Matches are played as a best of 1 series for the League and as a best of 3 series during the Brackets and a best of 5 series for the Grand-Finals.  </p>
                              </div>
                              <br>
                              <div>
                                <p><b>2.2. Game Settings:</b></p>
                                <p style="margin-left: 60px;">The Organizers will host the lobby and invite the team Captains.</p>
                                <li style="margin-left: 120px;">Lobby: Custom (closed)</li>
                                <li style="margin-left: 120px;">Mode: Standard</li>
                                <li style="margin-left: 120px;">Allow Cheats: Off</li>
                                <li style="margin-left: 120px;">Tournament Mode: On</li>
                                <li style="margin-left: 120px;">Overtime Win by Two: On </li>
                                <br>
                                <p style="margin-left: 60px;">In the event that an incorrect rule set is loaded on the server, the match should be stopped and reset. Previously played rounds with incorrect format will not count towards the match outcome.</p>
                              </div>
                              <br>
                              <div>
                                <p><b>2.3. Map Selection:</b></p>
                                <p style="margin-left: 70px;">Toss to decide which team is considered as Team 1.</p>
                                <p style="margin-left: 70px;">Best of 1 Matches:</p>
                                <li style="margin-left: 120px;">Team 1 Votes 1 map</li>
                                <li style="margin-left: 120px;">Team 2 Votes 2 maps</li>
                                <li style="margin-left: 120px;">Team 1 Votes 2 map</li>
                                <li style="margin-left: 120px;">Team 2 chooses Starting Side</li>
                                <br>
                                <p style="margin-left: 70px;">Best of 3 Matches:</p>
                                <li style="margin-left: 120px;">Team 1 Votes 2 maps</li>
                                <li style="margin-left: 120px;">Team 2 chooses Starting Side </li>
                                <br>
                                <p style="margin-left: 70px;">Best of 5 Matches:</p>
                                <li style="margin-left: 120px;">Both Teams decide Mutually on Dropping 1 map</li>
                                <li style="margin-left: 120px;">In case of disagreement , Organizer’s Call is Final</li>

                               
                              </div>
                              <br>
                              <div>
                                <p><b>3. Series Lengths:</b></p>
                                <p style="margin-left: 70px;">Any Agents, Weapons, Sprays, Weapon Skins, Weapon Buddies, and Maps currently disabled in other Riot Tournaments are prohibited.</p>
                              </div>

                              <br>
                              <div>
                                <p><b>4. Stoppage of Play:</b></p>
                                <p style="margin-left: 60px;">The game may only be paused for the following reasons:</p>
                                <li style="margin-left: 120px;">Player drop</li>
                                <li style="margin-left: 120px;">Player disconnect</li>
                                <li style="margin-left: 120px;">Technical issues</li>
                                <br>
                                <p style="margin-left: 60px;">Stoppage of play may be requested at any time for the above reasons. The team initiating a pause must first call the pause in chat. A pause may not be called during combat, or once the Spike has been planted. Players may not move around the map when a pause is in effect. Once both teams are ready, the team who paused the match will un-pause it. Each team will have 2 pauses per map. Each Pause being a maximum of 5 minutes Note that this 5 min include network/FPS issues. Players pause the game by pressing the Esc key and selecting "cheats". Abuse of the pause feature may result in punishment for the team abusing it.</p>
                              </div>

                              <br>
                              <div>
                                <p><b>5. Player Count:</b></p>
                                <p style="margin-left: 70px;">Both teams participating in a match must provide 5 players at the beginning of each game. During a game, if a team should lose 3 players that have disconnected from the match at the same time, that team will forfeit the remainder of the game to the opposing team. If a team is not able to field the required number of players for additional games in the series, then they will forfeit the remainder of the match. Organizers must be informed prior to map start in case of any substitutions.</p>
                              </div>

                              <br>
                              <div>
                                <p><b>6. Fair play Regulations:</b></p>
                                <p style="margin-left: 70px;">Don't be toxic or disrespectful, competitive integrity is of utmost importance, should the organizers deem your actions/words inappropriate or fraudulent in any manner whatsoever, the Team will be Disqualified Instantly.</p>
                              </div>
                            </ul>
                            <br>
                            <strong>All the Best , Agents ; and Remember, do not forget the spike.</strong>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row form-group">
                      <div class="col-md-12">
                        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf2CxgI4Kieloh5Jc8RdpAOUTnjP8pC6Q0xMfdYgZ_bMMWW3A/viewform?usp=sf_link" target="_blank" class="btn btn-danger px-4 py-2">Register Now</a></p>
                        
    
                      </div>
                    </div>
      
        
                  </form>
                </div>
      
                <div class="col-lg-4">
                  <div class="p-4 mb-3 bg-white">
                    <h3 class="h5 text-black mb-3">Contact Info</h3>
                    
                    <a href="https://discord.gg/ArePGSNwS7" target="_blank"><img style="width: 40px;" src="/static/events/valo/discord.png" alt=""></a><br>
                    
                  
                    <p class="mb-0 font-weight-bold">Phone</p>
                    <br>
                    <p class="mb-4">Talha Abdur Rahman شسي : <a href="#" style="text-decoration: none; color: red;">+91 7598000555</a></p>
                    <p class="mb-4">Addwin Fernando : <a href="#" style="text-decoration: none; color: red;">+91 8428776400</a></p>
      
                    <p class="mb-0 font-weight-bold">Email Address</p>
                    <p class="mb-0"><a href="#" style="text-decoration: none; color: red;">intellect2020may@gmail.com</a></p>
                    
      
                  </div>
                  
                
                
                    
                  </div>
                </div>
              </div>
            </div>
          </div>


      </section>

      <footer id="footer">
        <div class="container footer">
          <div class="eve-details">
            <div class="location">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h4>WHERE</h4>
              <p>At your place</p>
            </div>
            <div class="time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4>WHEN</h4>
              <p>May 24-June 30, 2021</p>
            </div>
            <div class="chat">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <h4>CHAT WITH US</h4>
              <p>Email: intellect2k21@gmail.com</p>
              <p>Contact: +91 9047593612, +91 9080429925</p>
            </div>
  
          </div>
          
          
          <div class="social">
            <a href="https://www.instagram.com/intellect2k21/" target="_blank"><i class="fa fa-instagram insta"></i></a>
            <a href="https://www.youtube.com/channel/UCEKZBHWEwRQ2-7AoAVQ8cag" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.facebook.com/Crescent-Intellect-2k21-100576085551846" target="_blank"><i class="fa fa-facebook fb"></i></a>
          </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/static/js/app.js"></script>
</body>      
</html>